//Liens
a
{
  text-decoration: none;
  color: $color-link;
}

//Bouton lien
a.button
{
  display: inline-block;
  margin: 5px 0px;
  border: $color-contrast 1px solid;
  font-family: $font-base;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $color-contrast;
  color: $color-background;
  height: 20px;
  cursor: pointer;

  &.valid
  {
    background-color: green;
  }
}


a.button:hover
{
  border: $color-link 1px solid;
}

//Bouton de recherche
a.search
{
  display: inline-block;
  background-image: url("./../../assets/icons/search.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 80px;
  height: 80px;
  background-color: $color-contrast;
  border-radius: 2px;
  border: rgba(0,0,0,0) 1px solid;
}

a.search:hover
{
  border: $color-link 1px solid;
}

//Bouton de login
a.login
{
  display: inline-block;
  background-image: url("./../../assets/icons/login.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  border: rgba(0,0,0,0) 1px solid;
}

//Bouton supprimer
a.delete
{
  display: inline-block;
  background-image: url("./../../assets/icons/delete.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: rgba(0,0,0,0) 1px solid;
}


//Bouton de profil
a.profil
{
  display: inline-block;
  background-image: url("./../../assets/icons/profil.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: rgba(0,0,0,0) 1px solid;
}

//Bouton index
a.index
{
  display: inline-block;
  background-image: url("./../../assets/icons/index.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: rgba(0,0,0,0) 1px solid;
}

//Champs inputs
input[type=text], input[type=password], select
{
  border: $color-contrast 1px solid;
  color: $color-contrast;
  font-family: $font-base;
}


input[type=text]:focus, input[type=password]:focus,input[type=button]:focus, select:focus
{
  border: $color-link 1px solid;
}

input[type=text].error, input[type=password].error, select.error
{
  border: red 1px solid;
}


//Boutons
input[type="button"],input[type="submit"]
{
  border: $color-contrast 1px solid;
  font-family: $font-base;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $color-contrast;
  color: $color-background;
  height: 20px;
}

input[type=button]:hover,input[type="submit"]:hover
{
  border: $color-link 1px solid;
}
