//Bouton de login
a.login
{
  display: inline-block;
  background-image: url("./../../assets/icons/login.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
}

a.login:hover
{
  opacity: 1;
}
