
//Définition de la charte de couleur
$color-base: rgb(69,90,100);
$color-contrast: rgb(96,125,139);
$color-high: rgb(255,64,129);
$color-title: rgb(143,143,143);
$color-link: rgb(34,179,245);
$color-background: white;

//Définition de la charte de fonts
$font-base: Arial, sans-serif;
