@import 'global';

//Titre
h1
{
  color: $color-base;
  font-family: $font-base;
  font-size: 30px;
}

//Formulaires et zones d'information
form,div.info
{
  background-color: $color-base;
  border-radius: 2px;
  padding: 10px;
  color:$color-background;
  font-family: $font-base;

  input[type=text],input[type=password],select
  {
    background-color: $color-contrast;
    color: $color-background;
    height: 20px;
  }

  input[type=text]::-webkit-input-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=text]::-moz-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=text]:-moz-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=text]:-ms-input-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=password]::-webkit-input-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=password]::-moz-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=password]:-moz-placeholder
  {
    color: $color-background;
    opacity: 1;
  }

  input[type=password]:-ms-input-placeholder
  {
    color: $color-background;
    opacity: 1;
  }
}

//Listes d'énumérations
div.list
{

  div.entry
  {
    width: 100%;
    background-color: $color-base;
    text-align: left;
    color: $color-background;
    padding: 10px;
    position: relative;
    font-family: $font-base;

    h1
    {
      color: $color-contrast;
    }

    &.pair
    {
      background-color: $color-contrast;
      h1
      {
        color: $color-base;
      }
    }
  }
}
