/* line 2, _buttons.scss */
a {
  text-decoration: none;
  color: #22b3f5; }

/* line 9, _buttons.scss */
a.button {
  display: inline-block;
  margin: 5px 0px;
  border: #607d8b 1px solid;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #607d8b;
  color: white;
  height: 20px;
  cursor: pointer; }
  /* line 22, _buttons.scss */
  a.button.valid {
    background-color: green; }

/* line 29, _buttons.scss */
a.button:hover {
  border: #22b3f5 1px solid; }

/* line 35, _buttons.scss */
a.search {
  display: inline-block;
  background-image: url("./../../assets/icons/search.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 80px;
  height: 80px;
  background-color: #607d8b;
  border-radius: 2px;
  border: transparent 1px solid; }

/* line 50, _buttons.scss */
a.search:hover {
  border: #22b3f5 1px solid; }

/* line 56, _buttons.scss */
a.login {
  display: inline-block;
  background-image: url("./../../assets/icons/login.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 69, _buttons.scss */
a.delete {
  display: inline-block;
  background-image: url("./../../assets/icons/delete.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 84, _buttons.scss */
a.profil {
  display: inline-block;
  background-image: url("./../../assets/icons/profil.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 98, _buttons.scss */
a.index {
  display: inline-block;
  background-image: url("./../../assets/icons/index.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 112, _buttons.scss */
input[type=text], input[type=password], select {
  border: #607d8b 1px solid;
  color: #607d8b;
  font-family: Arial, sans-serif; }

/* line 120, _buttons.scss */
input[type=text]:focus, input[type=password]:focus, input[type=button]:focus, select:focus {
  border: #22b3f5 1px solid; }

/* line 125, _buttons.scss */
input[type=text].error, input[type=password].error, select.error {
  border: red 1px solid; }

/* line 132, _buttons.scss */
input[type="button"], input[type="submit"] {
  border: #607d8b 1px solid;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #607d8b;
  color: white;
  height: 20px; }

/* line 143, _buttons.scss */
input[type=button]:hover, input[type="submit"]:hover {
  border: #22b3f5 1px solid; }

/* line 4, _sections.scss */
h1 {
  color: #455a64;
  font-family: Arial, sans-serif;
  font-size: 30px; }

/* line 12, _sections.scss */
form, div.info {
  background-color: #455a64;
  border-radius: 2px;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif; }
  /* line 20, _sections.scss */
  form input[type=text], form input[type=password], form select, div.info input[type=text], div.info input[type=password], div.info select {
    background-color: #607d8b;
    color: white;
    height: 20px; }
  /* line 27, _sections.scss */
  form input[type=text]::-webkit-input-placeholder, div.info input[type=text]::-webkit-input-placeholder {
    color: white;
    opacity: 1; }
  /* line 33, _sections.scss */
  form input[type=text]::-moz-placeholder, div.info input[type=text]::-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 39, _sections.scss */
  form input[type=text]:-moz-placeholder, div.info input[type=text]:-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 45, _sections.scss */
  form input[type=text]:-ms-input-placeholder, div.info input[type=text]:-ms-input-placeholder {
    color: white;
    opacity: 1; }
  /* line 51, _sections.scss */
  form input[type=password]::-webkit-input-placeholder, div.info input[type=password]::-webkit-input-placeholder {
    color: white;
    opacity: 1; }
  /* line 57, _sections.scss */
  form input[type=password]::-moz-placeholder, div.info input[type=password]::-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 63, _sections.scss */
  form input[type=password]:-moz-placeholder, div.info input[type=password]:-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 69, _sections.scss */
  form input[type=password]:-ms-input-placeholder, div.info input[type=password]:-ms-input-placeholder {
    color: white;
    opacity: 1; }

/* line 80, _sections.scss */
div.list div.entry {
  width: 100%;
  background-color: #455a64;
  text-align: left;
  color: white;
  padding: 10px;
  position: relative;
  font-family: Arial, sans-serif; }
  /* line 90, _sections.scss */
  div.list div.entry h1 {
    color: #607d8b; }
  /* line 95, _sections.scss */
  div.list div.entry.pair {
    background-color: #607d8b; }
    /* line 98, _sections.scss */
    div.list div.entry.pair h1 {
      color: #455a64; }

/* line 4, base.scss */
body {
  background-color: white;
  min-width: 805px;
  position: relative; }

/* line 14, base.scss */
header {
  background-color: #455a64;
  height: 105px; }
  /* line 19, base.scss */
  header > div {
    background-color: #607d8b;
    width: 100%;
    height: 10px; }
  /* line 26, base.scss */
  header > span {
    width: 300px;
    display: block;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
    font-size: 50px;
    color: #607d8b;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    text-align: center; }
  /* line 43, base.scss */
  header img {
    float: left;
    height: 160px;
    margin-left: 5px;
    margin-top: 15px;
    position: relative;
    opacity: 0.72; }
  /* line 54, base.scss */
  header nav {
    margin-top: 10px;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
    float: right;
    margin-right: 5px; }

/* line 67, base.scss */
div#content {
  clear: both;
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 105px; }

/*# sourceMappingURL=base.css.map */
