/* line 2, _buttons.scss */
a {
  text-decoration: none;
  color: #22b3f5; }

/* line 9, _buttons.scss */
a.button {
  display: inline-block;
  margin: 5px 0px;
  border: #607d8b 1px solid;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #607d8b;
  color: white;
  height: 20px; }

/* line 22, _buttons.scss */
a.button:hover {
  border: #22b3f5 1px solid; }

/* line 28, _buttons.scss */
a.search {
  display: inline-block;
  background-image: url("./../../assets/icons/search.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 80px;
  height: 80px;
  background-color: #607d8b;
  border-radius: 2px;
  border: transparent 1px solid; }

/* line 43, _buttons.scss */
a.search:hover {
  border: #22b3f5 1px solid; }

/* line 49, _buttons.scss */
a.login {
  display: inline-block;
  background-image: url("./../../assets/icons/login.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 62, _buttons.scss */
a.delete {
  display: inline-block;
  background-image: url("./../../assets/icons/delete.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 77, _buttons.scss */
a.profil {
  display: inline-block;
  background-image: url("./../../assets/icons/profil.svg");
  opacity: 0.72;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 80px;
  height: 80px;
  border: transparent 1px solid; }

/* line 91, _buttons.scss */
input[type=text], input[type=password], select {
  border: #607d8b 1px solid;
  color: #607d8b;
  font-family: Arial, sans-serif; }

/* line 97, _buttons.scss */
input[type=text]:hover, input[type=password]:hover, input[type=button]:hover, select:hover {
  border: #22b3f5 1px solid; }

/* line 103, _buttons.scss */
input[type="button"] {
  border: #607d8b 1px solid;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #607d8b;
  color: white;
  height: 20px; }

/* line 3, _sections.scss */
h1 {
  color: #455a64;
  font-family: Arial, sans-serif;
  font-size: 30px; }

/* line 11, _sections.scss */
form, div.info {
  background-color: #455a64;
  border-radius: 2px;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif; }
  /* line 19, _sections.scss */
  form input[type=text], form input[type=password], form select, div.info input[type=text], div.info input[type=password], div.info select {
    background-color: #607d8b;
    color: white;
    height: 20px; }
  /* line 26, _sections.scss */
  form input[type=text]::-webkit-input-placeholder, div.info input[type=text]::-webkit-input-placeholder {
    color: white;
    opacity: 1; }
  /* line 32, _sections.scss */
  form input[type=text]::-moz-placeholder, div.info input[type=text]::-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 38, _sections.scss */
  form input[type=text]:-moz-placeholder, div.info input[type=text]:-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 44, _sections.scss */
  form input[type=text]:-ms-input-placeholder, div.info input[type=text]:-ms-input-placeholder {
    color: white;
    opacity: 1; }
  /* line 50, _sections.scss */
  form input[type=password]::-webkit-input-placeholder, div.info input[type=password]::-webkit-input-placeholder {
    color: white;
    opacity: 1; }
  /* line 56, _sections.scss */
  form input[type=password]::-moz-placeholder, div.info input[type=password]::-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 62, _sections.scss */
  form input[type=password]:-moz-placeholder, div.info input[type=password]:-moz-placeholder {
    color: white;
    opacity: 1; }
  /* line 68, _sections.scss */
  form input[type=password]:-ms-input-placeholder, div.info input[type=password]:-ms-input-placeholder {
    color: white;
    opacity: 1; }

/* line 4, base.scss */
body {
  background-color: white;
  min-width: 805px;
  position: relative; }

/* line 14, base.scss */
header {
  background-color: #455a64;
  height: 105px; }
  /* line 19, base.scss */
  header > div {
    background-color: #607d8b;
    width: 100%;
    height: 10px; }
  /* line 26, base.scss */
  header > span {
    width: 300px;
    display: block;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
    font-size: 50px;
    color: #607d8b;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    text-align: center; }
  /* line 43, base.scss */
  header img {
    float: left;
    height: 160px;
    margin-left: 5px;
    margin-top: 15px;
    position: relative;
    opacity: 0.72; }
  /* line 54, base.scss */
  header nav {
    margin-top: 10px;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
    float: right;
    margin-right: 5px; }

/* line 67, base.scss */
div#content {
  clear: both;
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 105px; }

/*# sourceMappingURL=base.css.map */
