@import './../global';

#login
{
  background-color: $color-background;
  width: 500px;
  text-align: center;
  line-height: 40px;
  margin: auto;
  padding-top: 80px;
  margin-bottom: 100px;
  border-radius: 2px;
  
  span
  {
    color: $color-contrast;
    font-family: $font-base;
  }

  a.login
  {
    width: 40px;
    height: 40px;
    background-color: $color-contrast;
    border-radius: 2px;
    background-size: 90%;
    background-position: center;
  }
}
