@import "./../global";

div#content div
{
  width: 500px;
  margin: auto;

  div#album
  {
    font-family: $font-base;
    margin-top: 30px;
    img
    {
      float: left;
      width: 100px;
      height: 100px;
    }

    &>div
    {
      margin-top: 10px;
      float: left;
      width: 395px;
      padding-left: 5px;

      a
      {
        display: block;
        cursor: pointer;
      }
    }
  }

  div.list
  {
    clear: both;
    padding-top: 30px;
    div.entry
    {
      position: relative;
      font-family: $color-base;
      margin-bottom: 30px;
      h1
      {
        color: $color-background;
        margin-bottom: 5px;
      }

      audio
      {
        display: block;
        margin: 5px 0px;
      }

      a.button
      {
        position: absolute;
        right: 10px;
        top: 5px;
      }
    }
  }

}
